progress {
  border-radius: 7px;
  width: 50%;
  height: 22px;
}

progress::-webkit-progress-bar {
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: lightgreen;
}

progress.low::-webkit-progress-value {
  background-color: red;
}

progress.mid::-webkit-progress-value {
  background-color: yellow;
}
.playerBattle{
  color:black;
  height:auto;
  width:550px;
  position:absolute;
  top: 20%;
  left:20%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.atkBtn{
  color:black;
  background-color:rgb(234, 81, 81);
  height:150px;
  width:250px;
  margin-left: 20%;
  margin-bottom:6%;
  border:groove black 12px;
  position:relative;
  cursor: pointer;
  font-size: 20px;
}
.enemySprite{
  margin-left:59%;
  margin-top:30%;
  position:absolute;
  align-self: start;
  width: 300px;
  height: 300px;
}
#Enemy{
  color:black;
  background-color:darkgray;
  height:auto;
  width:200px;
  margin-left:62%;
  position:absolute;
  align-self: start;
  top:56%
}