html{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
Body{
background-image: url(https://img.pikbest.com/illustration/20250426/whimsical-anime-style-forest-background-banner--e2-80-93-perfect-for-projects_11686315.jpg!sw800);
background-repeat: no-repeat; background-size: cover;
font-family: 'MedievalSharp';
 height:100%;
 width:100%;
 margin:0;
 padding:0;
}
@keyframes Welcome {
from {top: 0%; font-size: 0px; left:48%}
to {top: 10%; font-size: 80px; left:25%}
}
@keyframes welcomebtn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}
#welcome{
  position: fixed; left: 25%; top: 10%; font-size: 80px;
  animation-name: Welcome; animation-duration: 1s;
  text-shadow: 0px -8px 10px #282828; color: sandybrown; -webkit-text-stroke: .1px #282828;
}
#startButton {
  background-color: goldenrod;
  border-radius: 20%; border-width: 10px; color: white; padding: 15px 32px;
  text-align: center; text-decoration: none; display: inline-block;
  font-size: 16px; margin: 4px 2px; cursor: pointer;
  position: fixed; top: 70%; left: 43%; animation-name: welcomebtn; animation-duration: 5s;
}
#startButton:hover{
  font-size: larger;
  background-color: gold;
}
.area{
  height:98vh;
  min-width:100%;
  display: flex;
  align-items:end;
}
.player{
  color:black;
  background-color:darkgray;
  height:550px;
  width:250px;
  margin-left:10%;
  position:absolute;
}
.grandma{
  color:black;
  background-color:darkgray;
  height:550px;
  width:250px;
  margin-left:70%;
  position:absolute;
}
.textbox{
  color:black;
  background-color:lightgrey;
  width:80%;
  height:200px;
  margin-left:8%;
  margin-bottom: 80px;
  position:relative;
  opacity: 60%;
  display: flex;
}
#text{
  margin-left:100px;
}
.nextButton{
  align-self: end;
  margin:20px 20px 10px 5px;
  margin-left: auto;
}
.playerBattle{
  color:black;
  background-color:darkgray;
  height:550px;
  width:250px;
  margin-left:20%;
  margin-bottom:9%;
  position:absolute;
}
.atkBtn{
  color:black;
  background-color:darkgray;
  height:150px;
  width:250px;
  margin-left: 13%;
  margin-bottom:6%;
  opacity: 80%;
  border:solid black 4px;
  position:relative;
}
.enemySprite{
  color:black;
  background-color:darkgray;
  height:300px;
  width:400px;
  margin-left:60%;
  margin-top:20%;
  position:absolute;
  align-self: start;
}
.healthbar{
  color:black;
  background-color:darkgray;
  height:20px;
  width:600px;
  margin-left:54%;
  margin-top:18%;
  position:absolute;
  align-self: start;
}